<ng-container *ngIf="cartProducts.length !== 0; else emptyCart">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Image</th>
              <th style="width: 25%;">Quantity</th>
              <th>Price</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of cartProducts; let index = index">
              <td></td>
              <td>{{ product.product_name }}</td>
              <td><img [src]="product.image" alt="Product Image"></td>
              <td>
                <p class="font-bold text-gray-500 text-sm mb-2">
                   {{ product.quantity }}
                </p>
              </td>
              <td>{{ product.price }}</td>
              
              <td>
                <button class="btn btn-delete" (click)="deleteProduct(index)">Delete</button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <!--<td><strong>Grand Total: ${{ calculateGrandTotal() }}</strong></td>-->
              <td>
                <button class="btn btn-danger" (click)="clearCart()">Clear Shopping Cart</button>
              </td>
              <td><a href="/products" class="btn btn-primary">Shop More</a></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="btn btn-pay" (click)="payAndCheckout()">Pay and Checkout</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #emptyCart>
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <!-- Contenu de la table du panier vide -->
      </div>
      <div class="center">
        <img src="URL_DE_VOTRE_IMAGE" alt="Empty cart logo">
        <a href="/products" class="btn btn-primary" style="display: inline-block; padding: 0.5em 1em; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 0.25em;">Shop Now</a>
      </div>
    </div>
  </div>
</ng-template>
