<div class="container mx-auto py-8">
    <div class="text-center">
        <img src="assets\img\logo8.png" alt="*ng Store Logo" class="h-36 mx-auto mb-4">
      </div>
    <div class="text-center">
      <h2 class="text-3xl font-bold mb-4">About *ng Store</h2>
    </div>
    <div class="max-w-6xl mx-auto">
      <p class="text-gray-800 text-lg leading-relaxed">
        *ng Store is a leading ecommerce website that offers a seamless online shopping experience to customers. With a wide range of products and services, *ng Store has become a trusted destination for shoppers worldwide.
      </p>
      <p class="mt-4 text-gray-800 text-lg leading-relaxed">
        At *ng Store, we pride ourselves on providing a user-friendly and secure online shopping platform. Our website is designed to make your shopping experience convenient and enjoyable. With just a few clicks, you can explore a vast collection of products from various categories such as electronics, fashion, home decor, beauty, and more.
      </p>
      <p class="mt-4 text-gray-800 text-lg leading-relaxed">
        We prioritize the safety of our customers' personal and financial information. When making a purchase at *ng Store, you can rest assured that all transactions are conducted through secure payment gateways. We support multiple payment options, including credit/debit cards, digital wallets, and bank transfers, allowing you to choose the method that suits you best.
      </p>
      <p class="mt-4 text-gray-800 text-lg leading-relaxed">
        When it comes to delivery, *ng Store ensures fast and safe shipping of your orders. We have partnered with *ng Delivery, a reliable logistics service, to ensure prompt and reliable delivery of your purchased items. Whether you're located locally or internationally, we strive to deliver your products efficiently and on time, keeping you updated throughout the delivery process.
      </p>
      <p class="mt-4 text-gray-800 text-lg leading-relaxed">
        In addition to our outstanding shopping experience, *ng Store also provides exceptional customer service. Our dedicated support team is available to assist you with any queries, concerns, or product-related assistance. We believe in building long-term relationships with our customers, and your satisfaction is our top priority.
      </p>
      <p class="mt-4 text-gray-800 text-lg leading-relaxed">
        Experience the convenience of online shopping, safe payment options, and fast and secure delivery with *ng Store. Shop with confidence and enjoy a seamless and enjoyable shopping experience at *ng Store.
      </p>
    </div>
  </div>
  
  <app-footer class="bg-sky-900 flex items-center justify-between px-4 py-2 bottom-0 left-0 right-0"></app-footer>