<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-hidden">
                <table class="min-w-full text-left text-sm font-light">
                    <thead class="border-b bg-white font-medium dark:border-neutral-500 dark:bg-neutral-600">
                        <tr>
                            <th scope="col" class="px-6 py-4">User id</th>
                            <th scope="col" class="px-6 py-4">User name</th>
                            <th scope="col" class="px-6 py-4">Email</th>
                            <th scope="col" class="px-6 py-4">Role</th>
                            <th scope="col" class="px-6 py-4"></th>
                            <th scope="col" class="px-6 py-4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users"
                            class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700">
                            <td class="whitespace-nowrap px-6 py-4">{{user.user_id}}</td>
                            <td class="whitespace-nowrap px-6 py-4">{{user.user_name}}</td>
                            <td class="whitespace-nowrap px-6 py-4">{{user.email}}</td>
                            <td class="whitespace-nowrap px-6 py-4">{{user.role}}</td>
                            <td class="whitespace-nowrap px-6 py-4">
                                <button class="ml-2 px-4 py-2 text-white bg-green-500 rounded-md"
                                    *ngIf="user.role === 'customer'; else notCustomer"
                                    (click)="updateUserToAdmin(user.user_id)">Add as
                                    admin</button>
                                <ng-template #notCustomer>
                                    <button class="ml-2 px-4 py-2 text-white bg-blue-500 rounded-md"
                                        (click)="updateUserToCustomer(user.user_id)">Remove
                                        from admin</button>
                                </ng-template>
                            </td>
                            <td class="whitespace-nowrap px-6 py-4">
                                <button class="ml-2 px-4 py-2 text-white bg-red-500 rounded-md"
                                    (click)="deleteUser(user.user_id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>